[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
mysqlclient = "*"
django-rest-framework = "*"
python-gettext = "*"
django-bootstrap-modal-forms = "*"
django-widget-tweaks = "*"
pylint = "*"
selenium = "*"

[requires]
python_version = "3.8"
