{% load static i18n %}
<html>
<head>
    <title>MetaDB administrative console</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'metadb/datatables.css'%}">

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap.min.js"></script>
</head>
<body>
    <div id="language" language={{ language }}></div>
    <h1>{% trans "MetaDB administrative console" %}</h1>
    <div id="main-view" style="margin-left: 10px; margin-right: 10px; ">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#tab-collection" data-toggle="tab">{% trans "Collection" %}</a>
            </li>
            <li>
                <a href="#tab-dataset" data-toggle="tab">{% trans "Dataset"%}</a>
            </li>
            <li>
                <a href="#tab-specpar" data-toggle="tab">{% trans "Parameter"%}</a>
            </li>
            <li>
                <a href="#tab-data" data-toggle="tab">{% trans "Data" %}</a>
            </li>
            <li>
                <a href="#tab-other" data-toggle="tab">{% trans "Other" %}</a>
            </li>
            <li>
                <a href="#tab-conveyor" data-toggle="tab">{% trans "Conveyor" %}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-collection"
                api-data-url="{% url 'metadb:collections_api' %}"
                update-data-url="{% url 'metadb:collection_update' 99999 %}"
                delete-data-url="{% url 'metadb:collection_delete' 99999 %}">
                <button type="button" 
                        class="btn btn-primary js-create"
                        data-url="{% url 'metadb:collection_create' %}">
                    <span class="glyphicon glyphicon-plus"></span> {% trans "Create" %}
                </button>
                <span>
                    <button type="button" class="btn btn-light js-reload" style="position:absolute; right:20px">
                        <span class="glyphicon glyphicon-refresh"></span> Reload
                    </button>
                </span>
                <table id='collection' class="table table-hover table-bordered" width="100%"></table>
            </div>
            <div class="tab-pane" id="tab-dataset"
                api-data-url="{% url 'metadb:datasets_api' %}"
                update-data-url="{% url 'metadb:dataset_update' 99999 %}"
                delete-data-url="{% url 'metadb:dataset_delete' 99999 %}">
                <button type="button"
                        class="btn btn-primary js-create"
                        data-url="{% url 'metadb:dataset_create' %}">
                    <span class="glyphicon glyphicon-plus"></span> {% trans "Create" %}
                </button>
                <span>
                    <button type="button" class="btn btn-light js-reload" style="position:absolute; right:20px">
                        <span class="glyphicon glyphicon-refresh"></span> Reload
                    </button>
                </span>
                <table id='dataset' class="table table-hover table-bordered" width="100%"></table>
            </div>
            <div class="tab-pane" id="tab-specpar"
                api-data-url="{% url 'metadb:specpars_api' %}"
                update-data-url="{% url 'metadb:specpar_update' 99999 %}"
                delete-data-url="{% url 'metadb:specpar_delete' 99999 %}">
                <button type="button"
                        class="btn btn-primary js-create"
                        data-url="{% url 'metadb:specpar_create' %}">
                    <span class="glyphicon glyphicon-plus"></span> {% trans "Create" %}
                </button>
                <span>
                    <button type="button" class="btn btn-light js-reload" style="position:absolute; right:20px">
                        <span class="glyphicon glyphicon-refresh"></span> Reload
                    </button>
                </span>
                <table id='specpar' class="table table-hover table-bordered" width="200%"></table>
            </div>
            <div class="tab-pane" id="tab-data"
                api-data-url="{% url 'metadb:data_api' %}"
                update-data-url="{% url 'metadb:data_update' 99999 %}"
                delete-data-url="{% url 'metadb:data_delete' 99999 %}">
                <button type="button"
                        class="btn btn-primary js-create"
                        data-url="{% url 'metadb:data_create' %}">
                    <span class="glyphicon glyphicon-plus"></span> {% trans "Create" %}
                </button>
                <span>
                    <button type="button" class="btn btn-light js-reload" style="position:absolute; right:20px">
                        <span class="glyphicon glyphicon-refresh"></span> Reload
                    </button>
                </span>
                <table id='data' class="table table-hover table-bordered" width="200%"></table>
            </div>
            <div class="tab-pane" id="tab-other">
                <div class="container-fluid">
                <div class="radio">
                    {% for choice in choices %}
                    {% if forloop.counter0|divisibleby:4 %}<div class="row">{% endif %}
                    <div class="col-md-3">
                    <label>
                        <input type="radio" name="data-choice" class="js-data-choice" 
                        api-data-url={% url choice.api_url %}
                        create-data-url={% url choice.create_url %}
                        update-data-url={% url choice.update_url 99999 %}
                        delete-data-url={% url choice.delete_url 99999 %}
                        ></input>
                        {{ choice.title }}
                    </label>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}</div>{% endif %}
                    {% endfor %}
                    {% if not choices|length|divisibleby:4 %}</div>{% endif %}
                </div>
                </div>
                <button type="button"
                        class="btn btn-primary js-create" id="create-other-btn" disabled>
                    <span class="glyphicon glyphicon-plus"></span> {% trans "Create" %}
                </button>
                <span>
                    <button type="button" class="btn btn-light js-reload" style="position:absolute; right:20px">
                        <span class="glyphicon glyphicon-refresh"></span> Reload
                    </button>
                </span>
                <table id="other" class="table table-hover table-bordered" width="100%"></table>
            </div>
            <div class="tab-pane" id="tab-conveyor"
                api-data-url="{% url 'metadb:conveyor_api' %}"
                update-data-url="{% url 'metadb:conveyor_update' 99999 %}"
                delete-data-url="{% url 'metadb:conveyor_delete' 99999 %}">
                <button type="button"
                        class="btn btn-primary js-create"
                        data-url="{% url 'metadb:conveyor_create' %}">
                    <span class="glyphicon glyphicon-plus"></span> {% trans "Create" %}
                </button>
                <span>
                    <button type="button" class="btn btn-light js-reload" style="position:absolute; right:20px">
                        <span class="glyphicon glyphicon-refresh"></span> Reload
                    </button>
                </span>
                <table id='conveyor' class="table table-hover table-bordered" width="100%"></table>
            </div>
        </div>
    </div>
    <div id="modal-stables"></div>

    <script type="text/javascript" charset="utf8" src="{% static 'metadb/main_forms.js'%}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'metadb/main_view.js'%}"></script>
 </body>
</html>