{% load static i18n %}

<form method="post" action="{% url 'metadb:data_create' %}" class="{{ form_class }}" 
      dataset-resolutions-url="{% url 'metadb:form_load_resolutions'%}"
      dataset-scenario-url="{% url 'metadb:form_load_scenarios'%}"
      parameter-timesteps-url="{% url 'metadb:form_load_timesteps'%}"
      parameter-lvsgroups-url="{% url 'metadb:form_load_lvsgroups'%}"
      parameter-lvsnames-url="{% url 'metadb:form_load_lvsnames'%}" novalidate>
    {% csrf_token %}

    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">{% trans "Create a new data" %}</h3>

    <div class="modal-body">
        {% include 'metadb/includes/form_body.html' %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="submit" class="btn btn-primary">{% trans "Create data" %}</button>
    </div>
</form>

{{ form_class|json_script:"form-class-name" }}
<script type="text/javascript" charset="utf-8" src={% static 'metadb/data_form.js' %}></script>
