{% load static i18n %}

<form method="post" action="{{ action }}" class="{{ form_class }}" 
      dataset-resolutions-url="{% url 'metadb:form_load_dataset_resolutions'%}"
      dataset-scenario-url="{% url 'metadb:form_load_dataset_scenarios'%}"
      parameter-timesteps-url="{% url 'metadb:form_load_parameter_timesteps'%}"
      parameter-lvsgroups-url="{% url 'metadb:form_load_parameter_lvsgroups'%}"
      parameter-lvsnames-url="{% url 'metadb:form_load_parameter_lvsnames'%}"
      levels-variables-url="{% url 'metadb:form_load_lvsvars'%}"
      variables-url="{% url 'metadb:form_load_variables'%}"
      units-url="{% url 'metadb:form_load_units'%}"
      properties-url="{% url 'metadb:form_load_properties'%}"
      property-values-url="{% url 'metadb:form_load_propvals'%}"
      root-dirs-url="{% url 'metadb:form_load_rootdirs'%}"
      files-url="{% url 'metadb:form_load_files'%}" novalidate>
    {% csrf_token %}

    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">{{ title }}</h3>

    <div class="modal-body">
        {% include 'metadb/includes/form_body.html' %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="submit" class="btn btn-primary">{{ submit_name }}</button>
    </div>
</form>

{{ form_class|json_script:"data-form-class-name" }}
<script type="text/javascript" charset="utf-8" src={% static 'metadb/data_form.js' %}></script>
