{% load i18n %}

<form method="post" action="{{ action }}" class="{{ form_class }}">
    {% csrf_token %}

    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">{{ title }}</h3>
    </div)

    <div class="modal-body">
        <p class="lead">{{ text }} <strong>{{ label }}</strong>?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="submit" class="btn btn-danger">{{ submit_name }}</button>
    </div>
</form>

<script>
    $('.{{ form_class }}').on('submit', function(e) {
        saveForm2.call(this, e);
        return false; 
    });
</script>