{% load static i18n %}

<form method="post" action="{% url 'metadb:data_create' %}" class="js-data-create-form" 
      dataset-resolutions-url="{% url 'metadb:api_load_resolutions'%}"
      dataset-scenario-url="{% url 'metadb:api_load_scenarios'%}"
      parameter-timesteps-url="{% url 'metadb:api_load_timesteps'%}"
      parameter-lvsgroups-url="{% url 'metadb:api_load_lvsgroups'%}"
      parameter-lvsnames-url="{% url 'metadb:api_load_lvsnames'%}" novalidate>
    {% csrf_token %}

    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">{% trans "Create a new data" %}</h3>

    <div class="modal-body">
        {% include 'metadb/includes/partial_data_form.html' %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="submit" class="btn btn-primary">{% trans "Create data" %}</button>
    </div>
</form>

<script type="text/javascript" charset="utf-8" src={% static 'metadb/data_create.js' %}></script>
