{% load widget_tweaks i18n %}

{% for field in ds_form %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% render_field field class="form-control" %}
    {% for error in field.errors %}
        <p class="help-block">{{ error }}</p>
    {% endfor %}
</div>
{% endfor %}

{% for field in sp_form %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% render_field field class="form-control" %}
    {% for error in field.errors %}
        <p class="help-block">{{ error }}</p>
    {% endfor %}
</div>
{% endfor %}

{% for field in form %}
{% if field.widget_type == 'checkbox'%}
<div class="form-check {% if field.errors %}has-error{% endif %}">
    {% render_field field class="form-check-input" %}
    <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% for error in field.errors %}
        <p class="help-block">{{ error }}</p>
    {% endfor %}
</div>
{% else %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% render_field field class="form-control" %}
    {% for error in field.errors %}
        <p class="help-block">{{ error }}</p>
    {% endfor %}
</div>
{% endif%}
{% endfor %}
