{% load widget_tweaks i18n %}

{% for field in col_form %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% render_field field class="form-control" %}
    {% for error in field.errors %}
        <p class="help-block">{{ error }}</p>
    {% endfor %}
</div>
{% endfor %}

{% for field in coli18n_form %}
<div class="form-group {% if field.errors %}invalid{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% render_field field class="form-control" %}
    {% for error in field.errors %}
        <p class="help-block">{{ error }}</p>
    {% endfor %}
</div>
{% endfor %}
