{% load static i18n %}

<form method="post" action="{{ action }}" class="{{ form_class }}" 
    {% for attrib in attributes  %}
        {{attrib.name}}={{attrib.value}}
    {% endfor %}
    novalidate>
    {% csrf_token %}

    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">{{ title }}</h3>

    <div class="modal-body">
        {% include 'metadb/includes/form_body.html' %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="submit" class="btn btn-primary">{{ submit_name }}</button>
    </div>
</form>

<!--{{ form_class|json_script:"simple-form-class-name" }}-->
<script>
    $('body').on('submit', '.{{ form_class }}', function(e) {
        saveForm2.call(this, e);
        return false; 
    });
</script>
{% if script %}
    <script type="text/javascript" charset="utf-8" src="{% static script %}"></script>
{% endif %}